/// Hardware addresses
///
/// (c) Koheron

#ifndef __DRIVERS_CORE_ADDRESSES_HPP__
#define __DRIVERS_CORE_ADDRESSES_HPP__

// -- Base addresses
{% for addr in config['addresses'] -%}
#define {{ addr|upper }}_ADDR {{ config['addresses'][addr] }}
{% endfor %}

// -- Config offsets
{% for offset in config['config_offsets'] -%}
#define {{ offset|upper }}_OFF {{ 4 * config['config_offsets'][offset] }}
{% endfor %}
// -- Status offsets
{% for offset in config['status_offsets'] -%}
#define {{ offset|upper }}_OFF {{ 4 * config['status_offsets'][offset] }}
{% endfor %}
#endif // __DRIVERS_CORE_ADDRESSES_HPP__
