# Memory mappped addresses
{% for addr in dic['addresses'] -%}
{{ addr|upper }}_ADDR = int('{{ dic['addresses'][addr] }}', 0)
{% endfor %}

# Config offsets
{% for offset in dic['config_offsets'] -%}
{{ offset|upper }}_OFF = {{ 4 * dic['config_offsets'][offset] }}
{% endfor %}

# Status offsets
{% for offset in dic['status_offsets'] -%}
{{ offset|upper }}_OFF = {{ 4 * dic['status_offsets'][offset] }}
{% endfor %}
