/*
    * Koheron Alpha250 devicetree
     *
      * Copyright (C) 2015 Antmicro Ltd
       * Copyright (C) 2017 Koheron SAS
        *
         * SPDX-License-Identifier: GPL-2.0+
          */
/dts-v1/;
#include "zynq-7000.dtsi"
/ {
  model = "Koheron Alpha250";
  compatible = "xlnx,zynq-alpha250","xlnx,zynq-7000";
  aliases {
    serial0 = &uart0;
    mmc0 = &sdhci0;
    ethernet0 = &gem0;
    i2c0 = &i2c0;
  };
  memory@0 {
      device_type = "memory";
      reg = <0 0x18000000>;
    };
  chosen {
      bootargs = "";
      stdout-path = "serial0:115200n8";
    };
  usb_phy0: phy0@e0002000 {
    compatible = "ulpi-phy";
    #phy-cells = <0>;
    reg = <0xe0002000 0x1000>;
    view-port = <0x0170>;
    drv-vbus;
 };
};
&sdhci0 {
  bootph-pre-ram;
  status = "okay";
};
&uart0 {
  bootph-pre-ram;
  status = "okay";
};
&usb0 {
  status = "okay";
  dr_mode = "host";
  usb-phy = <&usb_phy0>;
};
&gem0 {
  status = "okay";
  phy-mode = "rgmii-id";
  phy-handle = <&ethphy0>;
  /* local-mac-address : FSBL/env import already provides ethaddr */
  mdio {
    #address-cells = <1>;
    #size-cells = <0>;

    ethphy0: ethernet-phy@3 {
      reg = <3>;
      compatible = "micrel,ksz9031";
      rxc-skew-ps = <1860>;
      rxdv-skew-ps = <420>;
      txc-skew-ps = <1860>;
      txen-skew-ps = <420>;
    };
  };
};
&qspi {
  status = "okay";
  num-cs = <1>;
  is-dual = <0>;
  bootph-pre-ram;
  flash0: flash@0 {
    reg = <0>;
    compatible = "spansion,s25fl512s", "jedec,spi-nor";
    spi-max-frequency = <50000000>;
    spi-rx-bus-width = <4>;
    spi-tx-bus-width = <4>;
  };
};
&i2c0 {
  status = "okay";
  clock-frequency = <400000>;
  bootph-pre-ram;

  pcf85063: rtc@51 {
    compatible = "nxp,pcf85063";
    reg = <0x51>;
    status = "okay";
  };

  eeprom@54 {
    compatible = "atmel,24c64";
    reg = <0x54>;              /* 0b1010100 */
    pagesize = <32>;
    size = <8192>;             /* bytes (64 kbit) */
    address-width = <16>;      /* 16-bit word address */
    bootph-pre-ram;
  };
};
