/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target-path = "/";
		__overlay__ {
			usb_phy0: phy1 {
				#phy-cells = <0>;
				compatible = "usb-nop-xceiv";
			};
		};
	};

	fragment@1 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			spidev@0 {
				compatible = "rohm,dh2228fv";
				reg = <0x0>;
				spi-max-frequency = <10000000>;
			};
		};
	};

	fragment@2 {
		target = <&spi1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			spidev@0 {
				compatible = "rohm,dh2228fv";
				reg = <0x0>;
				spi-max-frequency = <10000000>;
			};
		};
	};

	fragment@3 {
        target-path = "/";
        __overlay__ {
			#address-cells = <1>;
			#size-cells = <1>;

			memory@0 {
			device_type = "memory";
			reg = <0x00000000 0x20000000>; // 512 MiB
			};

			reserved-memory {
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			ddr_stream_region: ddr-stream@18000000 {
				/* DO NOT add 'no-map' */
				reusable;
				reg = <0x18000000 0x08000000>; // 128 MiB
			};
			};

			ddr_stream@0 {
			compatible = "koheron,ddr-stream";
			memory-region = <&ddr_stream_region>;
			};
		};
	};

	fragment@4 {
		target = <&usb0>;
		__overlay__ {
			dr_mode = "host";
			usb-phy = <&usb_phy0>;
			/delete-property/ phy_type;
		};
	};

};