# Temporary files :
*~

# Python:
*.pyc

# Folders
venv
tmp

# Jinja generated config files
projects/*/config.tcl
projects/*/config.py

# Vivado :
*.jou
*.log

# Binaries
devicetree.dtb
fw_printenv
*.img
uImage
*.tar.gz
*.bin
