# Temporary files :
*~

# Python:
*.pyc

# Folders
venv
tmp
.Xil
.vscode

# Jinja generated config files
instruments/*/config.tcl
instruments/*/addresses.hpp

# Vivado :
*.jou
*.log
vivado_*.str

# Binaries
devicetree.dtb
fw_printenv
*.img
uImage
*.tar.gz
*.bin

tests/.cache
