# Temporary files :
*.md~
*.gitignore~
Makefile~
Dockerfile~
*.py~
*.j2~
*.tcl~
PART~
*.xdc~
*.v~
*.sh~
*.bash~
*.cpp~
*.c~
*.hpp~
*.h~
*.o
*.yaml~
*.yml~
*.conf~

venv

config.tcl


*.jou
*.log
tmp
lase

devicetree.dtb
fw_printenv
*.img
uImage
*.tar.gz
