version: 2

jobs:
  build:
    docker:
      - image: buildpack-deps:noble
    steps:
      - checkout
      - run:
          name: Install python requirements
          command: pip3 install -r requirements.txt
      - run:
          name: Install Koheron python
          command: pip3 install python/.
      - run:
          name: Setup Base
          command: make setup_base
      - run:
          name: Install Eigen library
          command: bash ./install_eigen.sh
      - run:
          name: Setup web
          command: make setup_web
      - run:
          name: Build server
          command: bash build_examples.sh server native
      - run:
          name: Build web
          command: bash build_examples.sh web native
  deploy:
    docker:
      - image: cimg/python:3.11.2
    steps:
      - checkout
      - run:
          name: Install python requirements
          command: pip install -r requirements.txt
      - run:
          name: install twine
          command: pip install twine
      - run:
          name: Upload Koheron python to pypi
          command: make PYPI_USERNAME=$PYPI_USERNAME PYPI_PASSWORD=$PYPI_PASSWORD upload_pip

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          filters:
            branches:
              only: master
