/ {
	memory {
		device_type = "memory";
		reg = <0x0 0x20000000>;
	};

	chosen {
		linux,stdout-path = "/amba/serial@e0000000";
	};

	usb_phy0: phy0 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};
	mdio {
                compatible = "cdns,macb-mdio";
                reg = <0xe000b000 0x1000>;
                clocks = <&clkc 30>, <&clkc 30>, <&clkc 13>;
                clock-names = "pclk", "hclk", "tx_clk";
                #address-cells = <1>;
                #size-cells = <0>;
                phy3: ethernet-phy@3 {
                        reg = <3>;
                };
        };

};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&phy3>;
};

&sdhci0 {
	status = "okay";
	broken-cd = <0x1>;
	wp-inverted = <0x1>;
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&i2c0 {
	status = "okay";
	/* Both RTCs disabled by default, choose one */
	pcf85063: pcf85063@51 {
		status = "disabled";
		compatible = "nxp,pcf85063";
		reg = <0x51>;
	};
	isl12022: isl12022@68 {
		status = "disabled";
		compatible = "isil,isl12022";
		reg = <0x6f>;
	};
};
