[Unit]
Description=Koheron TCP/Websocket server
After=network.target unzip-default-instrument.service

[Service]
Type=notify
NotifyAccess=all
ExecStart=/tmp/live-instrument/serverd
ExecStop=/usr/bin/pkill -SIGINT serverd
KillSignal=SIGKILL

# No limitation in the number of restarts per time interval
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
