[Unit]
Description=Display last digit of IP address on leds
Requires=koheron-server.service 
Wants=network-online.target
After=koheron-server.service network-online.target

[Service]
ExecStart=/usr/bin/curl http://127.0.0.1/api/board/init

[Install]
WantedBy=multi-user.target
