# /etc/systemd/system/nginx.service
[Unit]
Description=Nginx (fronting uWSGI)
DefaultDependencies=no
After=sysinit.target local-fs.target systemd-tmpfiles-setup.service uwsgi.socket
Before=basic.target
Wants=uwsgi.socket

[Service]
Type=forking
PIDFile=/run/nginx.pid
RuntimeDirectory=nginx
RuntimeDirectoryMode=0755
ExecStartPre=/usr/sbin/nginx -t
ExecStart=/usr/sbin/nginx
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always

[Install]
WantedBy=basic.target