[Unit]
Description=Unzip default instrument to /tmp/live-instrument
DefaultDependencies=no
Requires=tmp.mount
After=systemd-remount-fs.service tmp.mount local-fs.target
Before=basic.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/instruments/unzip_default_instrument.sh
RemainAfterExit=yes

[Install]
WantedBy=basic.target