[Unit]
Description=Extract default instrument with the native installer
DefaultDependencies=no
Requires=tmp.mount
After=systemd-remount-fs.service tmp.mount local-fs.target
Before=shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/local/api/koheron-install --extract-default
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
