# /etc/systemd/system/uwsgi.service
[Unit]
Description=uWSGI (socket-activated, runs as root)
DefaultDependencies=no
After=sysinit.target local-fs.target systemd-tmpfiles-setup.service
Before=basic.target

[Service]
Type=notify
NotifyAccess=all
User=root
Group=root
# inherit the systemd socket on fd 3
ExecStart=/usr/bin/uwsgi --ini /etc/uwsgi/uwsgi.ini --plugin python3 --socket fd://0
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=basic.target