[Unit]
Description=Display last digit of IP address on leds
Requires=koheron-server.service 
Wants=network-online.target
After=koheron-server.service network-online.target

[Service]
ExecStart=/usr/local/bin/koheron --unixsock=/var/run/koheron-server.sock common init

[Install]
WantedBy=multi-user.target
