[Unit]
Description=Koheron TCP/Websocket server
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/tcp-server/kserverd -c /usr/local/koheron-server/koheron-server.conf
ExecStop=/usr/bin/pkill -SIGINT kserverd
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target

