[Unit]
Description=Display last digit of IP address on leds
Requires=tcp-server.service
After=network-online.target

[Service]
ExecStart=/usr/local/tcp-server/kserver init

[Install]
WantedBy=multi-user.target

