[Unit]
Description=Koheron TCP server
After=nginx.service

[Service]
ExecStart=/usr/local/tcp-server/kserverd -c /usr/local/tcp-server/kserver.conf
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
