[Unit]
Description=uWSGI
After=network.target

[Service]
ExecStartPre=/bin/mkdir -p /var/run/flask-uwsgi
ExecStartPre=/bin/mkdir -p /var/log/flask-uwsgi
ExecStart=/usr/local/bin/uwsgi --ini /etc/flask-uwsgi/flask-uwsgi.ini
Restart=always
KillSignal=SIGKILL
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target

