[Unit]
Description=uWSGI
After=network.target

[Service]
ExecStartPre=/usr/bin/unzip -o /usr/local/flask/app.zip -d /usr/local/flask
ExecStartPre=/bin/mkdir -p /var/run/flask-uwsgi
ExecStartPre=/bin/mkdir -p /var/log/flask-uwsgi
ExecStart=/usr/local/bin/uwsgi --ini /etc/flask-uwsgi/flask-uwsgi.ini
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
