---
memory:
  - name: control
    offset: '0x40000000'
    range: 4K
  - name: ps_control
    offset: '0x54000000'
    range: 4K
  - name: status
    offset: '0x50000000'
    range: 4K
  - name: ps_status
    offset: '0x58000000'
    range: 4K
  - name: xadc
    offset: '0x43C00000'
    range: 64K
  - name: ram_mm2s
    offset: '0x1E000000'
    range: 16M
  - name: ram_s2mm
    offset: '0x1F000000'
    range: 16M
  - name: dma
    offset: '0x40400000'
    range: 64K
  - name: axi_hp0
    offset: '0xF8008000'
    range: 4K
  - name: axi_hp2
    offset: '0xF800A000'
    range: 4K
  - name: ocm_mm2s
    offset: '0xFFFF0000'
    range: 32K
  - name: ocm_s2mm
    offset: '0xFFFF8000'
    range: 32K
  - name: sclr
    offset: '0xF8000000'
    range: 64K

control_registers:
  - mmcm
  - precision_dac_ctl
  - precision_dac_data[2]
  - rf_adc_ctl[2]
  - adp5071_sync
  - channel_select
  - channel_offset[2]

status_registers:
  - mmcm_sts
  - adc[n_adc]

ps_control_registers:
  - spi_cfg_data
  - spi_cfg_cmd

ps_status_registers:
  - spi_cfg_sts

parameters:
  fclk0: 143000000
  adc_clk: 240000000
  adp5071_clk: 2400000
  dac_width: 16
  adc_width: 18
  n_adc: 2