:root {
  --color: hsl(196, 99%, 42%);
  --color-border: hsl(196, 99%, 70%);
  --color-dark: hsl(196, 99%, 32%);
  --color-light: hsl(196, 99%, 90%);
  --font-text: 'Lato', sans-serif;
  --neutral: hsl(0, 0%, 60%);
  --neutral-dark: hsl(0, 0%, 45%);
  --neutral-darker: hsl(0, 0%, 25%);
  --neutral-background: hsl(0, 0%, 98%);
  --neutral-border: hsl(0, 0%, 85%);
  --border-light: hsl(0, 0%, 90%);
  --border-radius: 2px;
  --shadow: hsl(0, 0%, 80%);
}