---
name: dpll
board: boards/alpha250
version: 0.1.0

cores:
  - fpga/cores/axi_ctl_register_v1_0
  - fpga/cores/axi_sts_register_v1_0
  - fpga/cores/dna_reader_v1_0
  - fpga/cores/axis_constant_v1_0
  - fpga/cores/latched_mux_v1_0
  - fpga/cores/edge_detector_v1_0
  - fpga/cores/comparator_v1_0
  - fpga/cores/tlast_gen_v1_0
  - boards/alpha250/cores/precision_dac_v1_0
  - boards/alpha250/cores/spi_cfg_v1_0
  - fpga/cores/axis_lfsr_v1_0
  - fpga/cores/double_saturation_v1_0
  - fpga/cores/boxcar_filter_v1_0
  - fpga/cores/phase_unwrapper_v1_0
  - fpga/cores/unrandomizer_v1_0
  - fpga/cores/axis_variable_v1_0

memory:
  - name: control
    offset: '0x40000000'
    range: 4K
  - name: ps_control
    offset: '0x64000000'
    range: 4K
  - name: status
    offset: '0x50000000'
    range: 4K
  - name: ps_status
    offset: '0x54000000'
    range: 4K
  - name: xadc
    offset: '0x43C00000'
    range: 64K
  - name: ram
    offset: '0x1E000000'
    range: 32M
  - name: dma
    offset: '0x80000000'
    range: 64K
  - name: axi_hp0
    offset: '0xF8008000'
    range: 4K

control_registers:
  - mmcm
  - precision_dac_ctl
  - precision_dac_data[2]
  - phase_incr[4]
  - p_gain[2]
  - pi_gain[2]
  - i2_gain[2]
  - i3_gain[2]
  - integrators[2]
  - dac_sel
  - phase_sel
  - cic_rate

ps_control_registers:
  - spi_cfg_data
  - spi_cfg_cmd

status_registers:
  - adc[n_adc]

ps_status_registers:
  - spi_cfg_sts

parameters:
  fclk0: 200000000
  fclk1: 143000000
  adc_clk: 200000000
  dac_width: 16
  adc_width: 16
  n_adc: 2
  cic_differential_delay: 1
  cic_decimation_rate_default: 20
  cic_decimation_rate_min: 4
  cic_decimation_rate_max: 8192
  cic_n_stages: 6
  n_pts: 1048576

xdc:
  - boards/alpha250/config/ports.xdc

drivers:
  - boards/alpha250/drivers/common.hpp
  - boards/alpha250/drivers/eeprom.hpp
  - boards/alpha250/drivers/gpio-expander.hpp
  - boards/alpha250/drivers/temperature-sensor.hpp
  - boards/alpha250/drivers/clock-generator.hpp
  - boards/alpha250/drivers/power-monitor.hpp
  - boards/alpha250/drivers/ltc2157.hpp
  - boards/alpha250/drivers/ad9747.hpp
  - boards/alpha250/drivers/precision-adc.hpp
  - boards/alpha250/drivers/precision-dac.hpp
  - boards/alpha250/drivers/spi-config.hpp
  - server/drivers/dma-s2mm.hpp
  - ./dpll.hpp
  - ./dma.hpp

web:
  - ./web/index.html
  - web/main.css
  - web/koheron.ts
  - ./web/app.ts
  - ./web/control.ts
  - ./web/dpll.ts
  - ./web/variables.css
  - ./web/dpll.css
  - ./web/block_diagram_path.svg
  - ./web/clock-generator/clock-generator.ts
  - ./web/clock-generator/clock-generator-app.ts
  - ./web/clock-generator/reference-clock.html
