---
memory:
  - name: control
    offset: '0x40000000'
    range: 4K
  - name: status
    offset: '0x50000000'
    range: 4K
  - name: xadc
    offset: '0x43C00000'
    range: 64K
  - name: ram
    offset: '0x1E000000'
    range: 32M
  - name: dma
    offset: '0x80000000'
    range: 64K
  - name: axi_hp0
    offset: '0xF8008000'
    range: 4K

control_registers:
  - led
  - phase_incr[4]
  - cordic

status_registers:
  - adc[n_adc]

parameters:
  fclk0: 125000000
  fclk1: 125000000
  adc_clk: 125000000
  dac_width: 16
  adc_width: 16
  n_adc: 2
  cic_differential_delay: 1
  cic_decimation_rate: 20
  cic_n_stages: 6