---
memory:
  - name: control
    offset: '0x60000000'
    range: 4K
  - name: ps_control
    offset: '0x64000000'
    range: 4K
  - name: status
    offset: '0x50000000'
    range: 4K
  - name: ps_status
    offset: '0x54000000'
    range: 4K
  - name: xadc
    offset: '0x43C00000'
    range: 64K
  - name: adc_fifo
    offset: '0x43C10000'
    range: 64K

control_registers:
  - mmcm
  - precision_dac_ctl
  - precision_dac_data[2]
  - channel_select
  - trig
  - rf_adc_ctl[2]
  - digital_outputs
  - adp5071_sync

status_registers:
  - mmcm_sts
  - adc[n_adc]
  - digital_inputs

ps_control_registers:
  - spi_cfg_data
  - spi_cfg_cmd

ps_status_registers:
  - spi_cfg_sts

parameters:
  fclk0: 166666667 # CPU clock speed in Hz
  adc_clk: 240000000
  adp5071_clk: 2400000
  n_adc: 2
  adc_width: 18
  cic_differential_delay: 1
  cic_decimation_rate: 2048
  cic_n_stages: 6